@media only screen and (width > 1919px) {
    body {
        background: var(--White, #FFF);
    }
    .box1 {
        display: flex;
        align-items: flex-start;
        height: 100vh;
        width: 100vw;
    }
    .blackgrannysleft {
        width: 450px;
        height: 799px; 
        background-color: black;
        z-index: 1;
        margin-left: -1px;
    }
    .granny {  
        position: absolute;
        background-image: url(/assets/granny2.svg);
        width: 540px;
        height: 800px;
        margin-left: 436px;
        margin-top: -1px;
        z-index: 1;
    }
    .txt1 {
        position: absolute;
        width: 514px;
        color: var(--White, #FFF);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Big Shoulders Display;
        font-size: 96px;
        font-weight: 900;   
        z-index: 2;  
        line-height: 88px;
        text-transform: uppercase;   
        margin-top: 201px;
        margin-left: 241px;      
    }
    .txt2 {
        width: 350px;
        position: absolute;
        color: var(--Dark-Grey, #444);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Outfit;
        font-size: 22px;
        font-weight: 300;
        line-height: 32px;
        margin-top: 196px;
        margin-left: 907px; 
        z-index: 1;      
    }
    .ourloc {
        position: absolute;
        z-index: 1;
        cursor: pointer;
        margin-top: 430px;
        margin-left: 907px;
    }
    .n2box {
        display: grid;
        grid-template-areas: 'meore pirveli'
                             'mesame meotxe'
                             'mesame mexute';
    }
    .item1 {
      grid-area: pirveli;
      background-image: url(/assets/img1back.svg);
      width: 635px;
      height: 400px;
      margin-left: -170px;
    }
    .item2 {
        grid-area: meore;
        margin-left: -300px;
        margin-top: 56px;
    }
    .item3 {
        grid-area: mesame;
        background-image: url(/assets/img3back.svg);
        width: 635px;
        height: 720px;
        margin-left: px;
    }
    .item4 {
        grid-area: meotxe;
        background-image: url(/assets/img4back.svg);
        width: 445px;
        height: 313px;
        margin-left: 20px;
        margin-top: 30px;
    }
    .item5 {
        grid-area: mexute;
        width: 445px;
        height: 377px;
        margin-left: 20px;
        margin-top: 27px;
    }
    .let2-1 {
        width: 350px;
        color: var(--Almost-Black, #151515);
        font-feature-settings: 'clig' off, 'liga' off;
        /* Heading (M) */
        font-family: Big Shoulders Display;
        font-size: 60px;
        font-style: normal;
        font-weight: 900;
        line-height: 60px; 
        text-transform: uppercase;
    }
    .let2-2 {
        width: 350px;
        color: var(--Dark-Grey, #444);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Outfit;
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px; 
    }
    .let5-1 {
        width: 350px;
        color: var(--White, #FFF);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Big Shoulders Display;
        font-size: 60px;
        font-style: normal;
        font-weight: 900;
        line-height: 60px; 
        text-transform: uppercase;
    }
    .let5-2 {
        width: 350px;
        color: var(--White, #FFF);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Outfit;
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px; 
    }
    .footer {
        width: 1920px;
        height: 210px;
        background: var(--Almost-Black, #151515);
    }
    .footimg1 {
        margin-top: 56px;
        margin-left: 156px;
    }
    .footimg2 {
        position: absolute;
        margin-left:1450px; 
        margin-top: -71px;
    }
    .foottext {
        width: 430px;
        margin-top:-57px;
        margin-left: 600px;
        color: var(--White, #FFF);
        font-family: Outfit;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
    }
    .image1 {
        width:0px;
    }
    .image4 {
        width:  0;
    }
    .image3 {
        width: 0;
    }
}